<table>
    <tr>
        <td>
            <h4><p> Disclaimer: not for the feint of heart</p></h4>
            </td>
            </tr>
            <tr>
                <td><h1><a href = "/game_start"> Game Start </a></h1></td>
                </tr>
                </table>
